/* Start Variables */
:root {
    --green-primary: #0f9d58;
    --yellow-primary: #fbbc04;
    --blue-primary: #4285f4;
    --red-primary: #ea4335;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    
}
/* End Varibales */
/* Start Global Rules */
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255,0) !important;
    outline: none !important; 
}
::selection {
        
        background: transparent;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}


/* Start Components */
.scroll-btn {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid white;
    position: fixed;
    z-index: 10000;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}
@media (max-width: 1500px) {
    .scroll-btn { 
        bottom: 28px;
    }

}
@media (max-width: 1200px) {
    .scroll-btn { 
        bottom: 25px;
    }

}
@media (max-width: 620px) {
    .scroll-btn { 
        bottom: 50px;
    }

}
.scroll-btn .material-symbols-outlined {
    color: white;
    font-size: 37px;
    
}
/* End Components */
/* Start Loading */
.loading-container {
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    
}
.loader {
    width: 220px;
    height: 120px;
    z-index: -1;
    display: inline-flex;
}
.loader .dot {
    width: 40px;
    height: 40px;
    border-radius: 99rem;
    z-index: 10;
    bottom: 0;
}
.loader .blue {
    background-color: #4285f5;
}
.loader .red {
    background-color: #ea4436;
}
.loader .yellow {
    background-color: #fbbd06;
}
.loader .green {
    background-color: #34a952;
}
.loader .dot:not(:last-child) {
    margin-right: 20px;
}
/* End Loading */
/* Start NavBar */
nav {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 15px;
    z-index: 10000;

}
nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
nav .container img {
    width: 60px;
}
nav .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: -1;
    --clip:0%;
    clip-path: circle(var(--clip));
    overflow: hidden;
    
}
nav .links li {
    position: relative;
    padding: 20px 30px;
    cursor: pointer;
    
    
}
nav .links li::before {
    content: "";
    position: absolute;
    width: 600px;
    height: 1px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: white;
    
    
}
nav .links  div {
    font-size: 40px;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease;
}
@media (max-width: 620px) {
    nav .links  div {
        font-size: 30px;
    }
    
}
nav .links div:hover {
    transform: scale(1.1);
    color: #aaa;
}
nav .burger-bar {
    cursor: pointer;
}
nav .burger-bar div{
    width: 37px;
    height: 4px;
    margin-bottom: 3px;
    border-radius: 1px;
    
}
nav .exit-btn {
    display: none;
    cursor: pointer;
    position: relative;
    top: -20px;
    right: 20px;
}
nav .exit-btn div {
    height: 40px;
    width: 4.1px;
    margin-bottom: 3px;
    border-radius: 1px;
}
nav  .blue {
    background-color: white
}
nav  .green {
    background-color: white
}
nav  .red {
    background-color: white
}
nav  .yellow {
    background-color: white
}
nav .exit-btn .green-yellow {
    background: linear-gradient(
        to top,
        var(--green-primary) 50%,
        var(--yellow-primary) 50% 100%

    );
    position: absolute;
    rotate: 130deg;
}
nav .exit-btn .blue-red {
    background: linear-gradient(
        to top,
        var(--blue-primary) 50%,
        var(--red-primary) 50% 100%

    );
    position: absolute;
    rotate: 45deg;
}
/* End NavBar */
/* Start Landing Page */
.landing {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.landing .overlay {
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 20%);
}
.landing img {
    width: 100%;
    height: 100%;
    transition: transform 5s ease;
}
.text-area {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 1s ease transform;
}
@media (max-width: 1000px) {
    .text-area {
        width: 600px;
        top: 70%;
    }
}
.text-area:hover {
    transform: translate(-50%) scale(1.1);
    color: #ddd;
}
body:has(.text-area:hover)  img  {
    transform: scale(1.1);
}
.text-area h1 {
    font-size: 45px;
    font-weight: bold;
    margin: 3px;
}
@media (max-width: 620px) {
    .text-area h1 {
        font-size: 30px;
    }
}
.text-area p {
    font-size: 29px;
    font-weight: 400;
    
}
@media (max-width: 620px) {
    .text-area p {
        font-size: 22px;
    }
}


.swiper {
    width: 100%;
    height: 100vh;
  }
/* End Landing Page */
/* Start First Page */
.first-page {
 display: flex;
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 width: 100%;
 height: 100%;
 overflow: hidden;
}
.first-page .container {
    width: 100%;
    height: 100%;
    position: relative;
}
.first-page .first {
    width: 50%;
    height: 100%;
    left: -100%;
    position: absolute;
}
.first-page .secondOne {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    right: -100%;
    overflow: hidden;
}
.first-page .secondOne h3  {
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.first-page .secondOne .second {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #362e2f;
    width: 100%;
    height: 100%;
    
}

.first-page .secondTwo {
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 0;
    right: -100%;
    background: #362e2f;
    
}

.first-page .third{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: -1;
}

.first-page .fourth{
    background: #7cb7bf;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    right: -50%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first-page .fourth h3  {
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.first-page .fifth {
    background: #7f9cb1;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    right: -50%;
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first-page .fifth h3 {
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.first-page .sixth {
    position: absolute;
    width: 50%;
    height: 50%;
    right: -50%;
    bottom: 0;
    overflow: hidden;
}
.first-page .sixth video {
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    
}
.first-page .seventh {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 39;
}
.first-page .eight {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    right: -50%;
    z-index: 41;
    
}
.first-page .ninth {
    background: #120e08;
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: -50%;
    z-index: 41;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first-page .ninth h3 {
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.first-page .ten {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -50%;
    z-index: 43;
    
}
.first-page .eleven {
    background: #3351a1;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -50%;
    z-index: 43;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first-page .eleven h3 {
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.first-page .twelve, .first-page .seventeen {
    background: #dd5b56;
    width: 50%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    z-index: 45;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first-page .twelve h3 ,.first-page .seventeen h3  {
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.first-page .thirteen, .first-page .sixteen  {
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    right: 0%;
    z-index: 45;
    
}

.first-page .fourteen {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -50%;
    z-index: 46;
    
}

.first-page .fifteen {
    background: #000000;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -50%;
    z-index: 46;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first-page .fifteen h3 {
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.first-page .seventeen {
    background-color: #f29b39;
    z-index: 47;
}
.first-page .sixteen { 
    z-index: 47;
}
.first-page .eighteen {
    position: absolute;
    width: 50%;
    height: 50%;
    left: -50%;
    top: 0;
    overflow: hidden;
    z-index: 50;
}
.first-page .eighteen video {
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
}
.first-page .nineteen {
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: -50%;
    z-index: 50;
    
}
.first-page .twenty-container,
.first-page .twenty4-container {
    background: #2f3642;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    right: -50%;
    z-index: 50;
    overflow: hidden;
}


.first-page .twenty-container  .twenty,
.first-page .twenty4-container  .twenty4{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #362e2f;
    width: 100%;
    height: 100%;
}
.first-page .twenty h3,
.first-page .twenty4 h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.first-page .twenty1-container{
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: -50%;
    overflow: hidden;
    z-index: 55;
}

.first-page .twenty1 {
    position: relative;
    width: 100%;
    height: 100%;
}


.first-page .twenty2,
.first-page .twenty3,
.first-page .twenty6,
.first-page .twenty7,
.first-page .twenty9 {
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: 49;
} 
.first-page .twenty2,
.first-page .twenty6 {
    top: 0;
    left: 100%;
}
.first-page .twenty3,
.first-page .twenty7 {
    bottom: 0;
    left: 100%;
}
.first-page .twenty9 {
    bottom: 0;
    right: -50%;
}
.first-page .twenty8 {
    background-color: #dd5b56;
    width: 50%;
    height: 50%;
    position: absolute;
    right: -50%;
    z-index: 51;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first-page .twenty8 h3 {
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.first-page .twenty5-container {
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: -50%;
    z-index: 60;
    overflow: hidden;
}
.first-page .twenty5-container .twenty5 {
    position: relative;
    width: 100%;
    height: 100%;
}

.first-page .twenty11 {
    background: black;
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    right: 0;
    z-index: 61;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first-page .twenty11 h3  {
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.first-page .twenty10 {
    width: 50%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0%;
    z-index: 61;
}

/* End First Page */