:root {
    --green-primary: #0f9d58;
    --yellow-primary: #fbbc04;
    --blue-primary: #4285f4;
    --red-primary: #ea4335;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #111;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}

/* Start Components */
.scroll-btn {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid white;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}
@media (max-width: 1500px) {
    .scroll-btn { 
        bottom: 28px;
    }

}
@media (max-width: 1200px) {
    .scroll-btn { 
        bottom: 25px;
    }

}
@media (max-width: 620px) {
    .scroll-btn { 
        bottom: 50px;
    }

}
.scroll-btn .material-symbols-outlined {
    color: white;
    font-size: 37px;
    
}
/* End scroll button */
nav {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top:30px;
    padding-bottom: 30px;
    z-index: 1000;
    background-color: black

}
nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
nav .container img {
    width: 60px;
}
nav .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: -1;
    --clip:0%;
    clip-path: circle(var(--clip));
    overflow: hidden;
    
}
nav .links li {
    position: relative;
    padding: 20px 30px;
    cursor: pointer;
    
    
}
nav .links li::before {
    content: "";
    position: absolute;
    width: 600px;
    height: 1px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: white;
    
    
}
nav .links  a {
    font-size: 40px;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease;
}
nav .links div {
    transition: all 0.3s ease;
}
@media (max-width: 620px) {
    nav .links  a {
        font-size: 30px;
    }
    
}
nav .links a:hover {
    color: #aaa;
}
nav .links div:hover {
    transform: scale(1.1);
}

nav .burger-bar {
    cursor: pointer;
}
nav .burger-bar div{
    width: 37px;
    height: 4px;
    margin-bottom: 3px;
    border-radius: 1px;
    
}
nav .exit-btn {
    display: none;
    cursor: pointer;
    position: relative;
    top: -20px;
    right: 20px;
}
nav .exit-btn div {
    height: 40px;
    width: 4.1px;
    margin-bottom: 3px;
    border-radius: 1px;
}
nav  .blue {
    background-color: white
}
nav  .green {
    background-color: white
}
nav  .red {
    background-color: white
}
nav  .yellow {
    background-color: white
}
nav .exit-btn .green-yellow {
    background: linear-gradient(
        to top,
        var(--green-primary) 50%,
        var(--yellow-primary) 50% 100%

    );
    position: absolute;
    rotate: 130deg;
}
nav .exit-btn .blue-red {
    background: linear-gradient(
        to top,
        var(--blue-primary) 50%,
        var(--red-primary) 50% 100%

    );
    position: absolute;
    rotate: 45deg;
}
/* End NavBar */
/* Start ourTeam section */
section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
section .team-container {
    width: 90%;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
section .team-container .boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}
section .team-container .boxes .box {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
section .team-container .boxes img{
    width: 90px;
}
section .team-container .boxes h3 {
    color: white;
    font-size: 20px;
    margin-top: 15px;

}
.question-mark  {
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}




.question-mark .imgq {

    position: relative;
    z-index: 24;
}
.question-mark .img-1 {
    width: fit-content;

    position: relative;
    overflow: hidden;
}
.question-mark .icon{
    width: 100px;
    cursor: pointer;
    
}
.photo {
    width: 100px;
    position: absolute;
    top: 500px;
    left: 0;
}
.question-mark .dimonds {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-top: 20px;
}
.question-mark .dimonds > div {
    position: "relative";
    width: 20px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    cursor: pointer;
}
section .team-container .dimond {
    position: relative;
    width: 20px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
section .team-container .purple {
    left: 6.5vw;
    top: 40vh;
    background-color: #6247aa;
    background-image: linear-gradient(316deg, #6247aa 0%, #a594f9 74%);
}
section .team-container .blue {
    left: -6.5vw;
    top: 40vh;
    background-color: #06bcfb;
    background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
}
section .team-container .red {
    left: -31.6vw;
    top: 40vh;
    background-color: #990000;
    background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
}
section .team-container .orange {
    left: 19vw;
    top: 40vh;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}
section .team-container .green {
    left: 31.6vw;
    top: 40vh;
    background-color :#20bf55;
    background-image : linear-gradient(315deg, #20bf55 0%, #01ef11 74%);

}
section .team-container .yellow {
    left: -19vw;
    top: 40vh;
    background-color: #b5c327;
    background-image: linear-gradient(315deg, #b5c327 0%, #ffc907 74%);
}


.information-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(assets/marioback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10000;
    left: -120%;
    top: 0;
}
.information {
    position: relative;
    opacity: 0;
    width: 50%;
    height: 90%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 22px #3336;
    margin: 50px auto;
    overflow: hidden;
}
.information .img {
    position: relative;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 22px #3336;
    margin: 30px auto 0;
    border-radius: 10px;
    overflow: hidden;
    z-index: 99;
}
.information img {
    width: 100%;
}
.information .blue-back {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
    background-color: var(--blue-primary);
}
.caption {
    text-align: center;
    margin-bottom: 40px;
}
.caption h3{
    font-size: 21px;
    margin-top: 10px;
}
.caption p{
    font-size: 15px;
    font-weight: 900;
    color: var(--blue-primary);
    margin: 2px 0 6px 0 ;
}
.text-area h3 {
    font-size: 25px;
    margin-bottom: 10px;
}
.text-area p {
    color: #333;
    margin-bottom: 40px;
}
.social-links {
    
    margin: auto;
    
    
}
.social-links a {
    color: #333;
    margin-right: 15px;
    font-size: 30px;
    left: 10px;
}
.exit {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 200000;
    cursor: pointer;
}
.exit i {
    font-size: 30px;
    color: white;
}

.gr-information-container {
    position: absolute;
    top: 0;
    left: -120%;
    width: 100%;
    height: 100%;
    background-image: url(assets/marioback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10002;
}  
.gr-information-container .information {
    position: relative;
    opacity: 0;
    width: 50%;
    height: 90%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 22px #3336;
    margin: 50px auto;
    overflow: hidden;
}
.gr-information-container .information .img {
    position: relative;
    width: 90%;
    height: 300px;
    box-shadow: 0 0 22px #3336;
    margin: 30px auto 0;
    border-radius: 10px;
    overflow: hidden;
    z-index: 99;
}
.gr-information-container .information img {
    position: relative;
    width: 100%;
    bottom: 80px;
}
.information .blue-back {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
}
.gr-information-container  .caption {
    text-align: center;
    margin-bottom: 20px;
}
.caption h3{
    font-size: 21px;
    margin-top: 10px;
}
.caption p{
    font-size: 15px;
    font-weight: 900;
    color: var(--blue-primary);
    margin: 2px 0 6px 0 ;
}
.text-area h3 {
    font-size: 25px;
    margin-bottom: 10px;
}
.text-area p {
    color: #333;
    margin-bottom: 20px;
}
/* End ourTeam section */
